<app-navbar></app-navbar>

<h1>{{ title }}</h1>

<nav>
    <a routerLink="/heroes">Heroes</a>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/practice">Practice</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>