<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>Hero</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes" >
      <td>{{hero?.id}}</td>
      <td>{{hero?.name}}</td>
      <td><button class="btn-info" (click)="edit()" >Edit</button></td>
      <td><button class="btn-info" (click)="delete(hero)" >delete</button></td>
    </tr>
  </tbody>
</table>

<!-- <popup>
  Add your custom html elements here
</popup> -->